@import "../../styles/common.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 1px solid pink;
  height: 100%;
  width: 100%;

  main {
    //border: 1px solid greenyellow;
    margin-bottom: 200px;

    p,
    .checkboxBundle span {
      font-size: 14px;
      color: #737373;
    }

    .loginTitle {
      //border: 1px solid orange;
      margin-top: 177px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .loginSmallLogo,
      .loginBigLogo {
        text-align: center;
      }

      .loginSmallLogo {
        //border: 1px solid firebrick;
        padding: 6px 0px;
        font-size: 14px;
        color: black;
      }

      .loginBigLogo {
        padding: 3.5px 0px;
        font-size: 40px;
        font-weight: lighter;

        span {
          font-size: 40px;
          font-family: $loginFontFamily;
        }
      }
    }

    article {
      //border: 1px solid hotpink;
      width: 500px;
      height: 358px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .inputBundle {
        margin-top: 200px;
        div {
          //border: 1px solid rgb(90, 245, 90);
          height: 79px;
          margin: 0 0 8px;

          .warningMsg {
            color: red;
          }
        }
        .loginInput {
          height: 32px;
          width: 100%;
          margin: 6px 0px 2px;
          padding: 1px 2px 7px 0px;
          border: 0px;
          //border: 1px solid #737373;
          border-bottom: 1px solid #737373;
          font-size: 18px;

          &:focus {
            outline: none;
            border-bottom: 3px solid #63cd80;
          }
        }
        .checkboxBundle {
          height: 20px;
          margin: 10px 0px 0px;
          @include flex(flex-start, _);

          input[id="saveNameCheckbox"] {
            display: none;
          }

          input[id="saveNameCheckbox"] + label {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #737373;
            cursor: pointer;
          }

          input[id="saveNameCheckbox"]:checked + label {
            width: 5px;
            height: 5px;
            background-color: black;
            outline: 2px solid #63cd80;
          }
        }
      }

      .loginNewaccountPasswordBundle {
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
          //border: 1px solid red;
          width: 240px;
          height: 40px;
          margin: 30px auto 15px;
          transition-property: background-color;
          transition-duration: 0.3s;
          transition-timing-function: linear;
          background-color: black;
          color: white;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            background-color: #464646;
          }
        }

        p {
          margin: 5px 0px;
          //border-bottom: 1px solid #737373;
          text-decoration: underline;
          text-underline-position: under;
          text-align: center;
          font-size: 16px;
          color: #737373;
        }
      }
    }
  }

  aside {
    p {
      margin-bottom: 30px;
      text-align: center;
    }
    button {
      width: 240px;
      height: 40px;
      margin: 5px;
      border: 2px solid black;
      background-color: white;
      transition-property: background-color;
      transition-duration: 0.3s;
      transition-timing-function: linear;
      font-family: $loginFontFamilyBold;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }

    .facebookIcons {
      color: #4267b2;
    }

    .appleIcons {
      color: #b3b3b3;
    }

    .windowsIcons {
      color: #00adef;
    }
  }

  footer {
    //border: 1px solid orange;
    height: 38px;
    width: 100%;
    position: relative;
    padding: 0 14px;
    margin-top: 50px;

    select {
      position: absolute;
      left: 14px;
      border: 0px;
      font-family: $loginFontFamily;
      &:focus {
        outline: none;
        border-bottom: 3px solid #1087dd;
      }
    }

    div {
      position: absolute;
      right: 14px;
      padding-left: 0px;
      span {
        margin-right: 10px;
        font-family: $loginFontFamily;
        font-size: 11px;
        color: #757575;

        &:hover {
          color: black;
        }
      }
    }
  }

  /*추후 지우기*/
  // section {
  //   border: 1px solid blue;
  // }

  // aside {
  //   border: 1px solid black;
  // }
}
