.buyBtn {
  display: block;
  text-align: center;
  background-color: rgb(228, 37, 37);
  width: 250px;
  outline: none;
  margin: 30px 10px;
  padding: 15px;
  border: 0;
  cursor: pointer;

  .btnInfo {
    font-size: 13px;
    color: #fff;
  }

}