@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap');

$black : #000;
$gray : #f3f3f3;

@mixin flex($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}