@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$black : #000;
$gray : #F3F3F3;
$white : #fff;
$fontColor : #727373;
$logonAccountCommonFontFamily: Arial, Helvetica, sans-serif;
$accountFontfamily: "Poppins", sans-serif;
$loginFontFamily: "Montserrat", sans-serif;
$accountFontFamily700: "Montserrat", sans-serif;
$loginFontFamilyBold: "Montserrat", sans-serif;

%colorBorder {
  width: 17px;
  border-radius: 50%;
  margin: 5px;
}

%fullScreen {
  width: 100vw;
  height: 100vh;
}

@mixin flex($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
 
%featuresInfo {
  h3 {
    font-size: 14px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  p {
    font-size: 16px;
    color: $fontColor;
  }
}



