@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap');

$black : #000;
$gray : #F3F3F3;
$white : #fff;
$fontColor : #727373;

@mixin flex($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

%featuresInfo {
  h3 {
    font-size: 14px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  p {
    font-size: 16px;
    color: $fontColor;
  }
}