@import '../../styles/common.scss';

.commonNavbar {
  .commonNavbarGroup {
    @include flex;
    position: fixed;
    background-color: $white;
    width: 100%;
    height: 60px;
    padding: 1%;
    border-bottom: 1px solid $gray;
    z-index: 1;

    .navLeft {
      font-size: 30px;
      padding-left: 10px;
    }
  
    .navCenter {
      font-size: 1.3rem;
      font-weight: 500;
      font-family: 'Varela Round', sans-serif;

      span {
        color: $black;
      }

    }
  
    .navRight {
      img {
        width: 26%;
        padding-right: 20px;
      }
    }

  }
  
}